    <html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


        <div class="container" >            

            <h2>Select Course</h2>
            <h4>Choose a course in order to view the Course Details Report</h4><br/>

            <p style="color: red" th:text="${session.error}"></p>

             <form th:object="${course}" action="notused.html" th:action="@{/course/courseSelected}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Select a Course:</th>
                            <td>
                                <!--<select th:field="*{course}">-->
                                    <select name="course">
                                    <option th:value = "None" th:text="None"></option>
                                    <option th:each="courseName : ${courseList}"  th:value="${courseName}" th:text="${courseName}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Select Course</button>
                    </div>

                </fieldset>
            </form>

            
            <br/><div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>




    </body>

</html>

