<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Course Report</h2>
            

            <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Course ID</th>
                                <th style="width: 150px;">Course Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${courseId}"></td>
                                <td th:text="${session.courseName}"></td>
                            </tr>
                        </tbody>
            </table>
           
           <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Total Passed</th>
                                <th style="width: 150px;">Total Failed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${totalPassed}"></td>
                                <td th:text="${totalFailed}"></td>
                            </tr>
                        </tbody>
            </table>
           
           <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Course Average</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${courseAverage}"></td>
                            </tr>
                        </tbody>
            </table>
           
           <a class="btn btn-primary btn-lg" th:href="@{/grades/gradeList}">Student Grades</a><br/><br/>


            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>


    </body>

</html>

