<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Student Grades</h2>
            <h4>Below are all student grades listed for the selected course</h4>


            
            <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Name</th>
                                <th style="width: 150px;">Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="grade : ${session.gradesList}">

                                <td th:text="${grade.name}"></td>
                                <td th:text="${grade.mark} + '%' "></td>
                               
                            </tr>
                        </tbody>
            </table>  

          



            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
