<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2><span id="successSpan" th:text="${session.successText}">success</span></h2>
            
            <br />
            <br />
            <br />
            <h4>Upload Another File</h4>
            <a class="btn btn-primary btn-med" th:href="@{/utility/importFile}" th:text="Return" ></a><br/>
            <br/>
            
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
