<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Select Course File</h2>
            <h4>upload a course to the Grade Analyzer</h4><br/>

          <!--
            <tr>
                <th style="width: 150px;">Name</th>
                <th style="width: 150px;">Grade</th>
            </tr>
            <tr th:each="grade : ${grades}">
                <td th:text="${grade.name}">Name</td>
                <td th:text="${grade.mark}">Mark></td>
            </tr>-->
            
            <h3>Import</h3>
                <div class="upload">
                    <!--                    <form method="POST" action="/roomusage/upload"	enctype="multipart/form-data">
                    <input type="text" name ="tableName" />-->

                    <form action="/utility/importSubmit" th:action="@{/utility/importSubmit.html}" enctype="multipart/form-data" method="post" >
                        
                        Upload your file please: 
                        <input type="file" name="myFile" />
                        <br/>
                        <input type="submit" value="upload" />

                    </form>
                </div>

          



            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
